# STR-2022/
# spacy_model/
# self-train-model/
# matrix/
# IMDB/
# flask/
# dataset_MIT/
# data_hugging_face/
# project_detail/

team_project.zip
team_project_document.*
only_source_code.zip
readme_cloud.md
