data/
other_data/
data_uncorrect/
# dataset/
# dataset_spacy/
ner_model/
output/
playground/
results/
trained_model/

note.txt
bert.txt
recognition_results.txt
validation_results_fold_0.txt

*.docx
*.pptx
*.zip
